
:root {
    --mainColor: #606b66;
    --secondaryColor: #515A48;

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;
    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --buttonColor: black; 
}